/* Table Style For Schedule Page*/
table {
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    white-space: nowrap;
}

table th,
table td {
    padding: 8px;
}

table thead th {
    background-color: #4848f5;
    color: white;
    border-right: 1.5px solid white;
}

table tbody td, 
table tbody th {
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
}

table thead th:last-child,
table tbody td:last-child {
    border-right: 0;
}

table tbody tr:last-child th,
table tbody tr:last-child td {
    /* border-right: 0; */
    border-bottom: 0;
}

table thead th:nth-child(1){
    border-radius: 15px 0 0 0;
}

table thead th:last-child{
    border-radius: 0 15px 0 0;
}
